{% extends 'BtnAdminBundle:Crud:index.html.twig' %}

{% block list_table_head_columns %}
    <th>{% trans %}btn_news.news.title{% endtrans %}</th>
    <th>{% trans %}btn_news.news.category{% endtrans %}</th>
    <th>{% trans %}btn_news.news.created_at{% endtrans %}</th>
{% endblock %}

{% block list_table_body_columns %}
    <td>{{ entity.title }}</td>
    <td>{{ entity.category }}</td>
    <td>
        {% if entity.createdat %}
            {{ entity.createdat|date(btn_admin.list.date_time_format) }}
        {% endif %}
    </td>
{% endblock %}
